<div class="country-detail__wrapper" [appTheme]="selectedTheme$ | async">
    <div class="header">
        <button class="cta" (click)="navigateToDashboard()">
            <i class="fas fa-long-arrow-alt-left"></i>
            Back </button>
    </div>

    <div class="flag">
        <img [attr.src]="country?.flag" [attr.alt]="country?.name" class="img-fluid">
    </div>
    <div class="country-title">
       <h2>{{country?.name}}</h2> 
    </div>
    <div class="details-1">
        <p>
            <span class="font-weight-bold">Native Name: </span> {{country.nativeName}}
        </p>
        <p>
            <span class="font-weight-bold">Population: </span> {{country.population |  number}}
        </p>
        <p>
            <span class="font-weight-bold">Region: </span> {{country.region}}
        </p>
        <p>
            <span class="font-weight-bold">Sub Region: </span> {{country.subregion}}
        </p>
        <p>
            <span class="font-weight-bold">Capital: </span> {{country.capital}}
        </p>
    </div>
    <div class="details-2">
        <p>
            <span class="font-weight-bold">Top Level Domain: </span> {{country.topLevelDomain}}
        </p>
        <p>
            <span class="font-weight-bold">Currencies: </span> {{country.currencies}}
        </p>
        <p>
            <span class="font-weight-bold">Languages: </span> {{country.languages}}
        </p>
    </div>
    <div class="border-countries">
        <span class="font-weight-bold">Border Countries:</span>
        <div class="tags"> France </div>
        <div class="tags"> Belgium </div>
        <div class="tags"> Ttst </div>
    </div>
</div>