
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

@spacing: 80px;


body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 14px;
}

.font-weight-bold {
    font-weight: 800;
}

.font-weight-light {
    font-weight: 300;
}

.img-fluid  {
    width: 100%;
    object-fit: cover;
}

.cta {
    color: var(--text-color);
    background-color: var(--elements-color);
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
    border-radius: 5%;
    font-weight: 800;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { }
 
@media all and (min-width: 768px) and (max-width: 1024px) { }
 
@media all and (min-width: 480px) and (max-width: 768px) { }
 
@media all and (max-width: 480px) { }
 